In [1]:
# filtering rows based on row/column index and row values
# iloc -  filters using row index/column index
# loc - filters using row values

In [2]:
import pandas as pd

df = pd.read_csv('uk-500.csv')

print(df.iloc[0]) # retuns the first row

id                                               1.0
first_name                                   Aleshia
last_name                                 Tomkiewicz
company_name                 Alan D Rosenburg Cpa Pc
address                                 14 Taylor St
city                               St. Stephens Ward
county                                          Kent
postal                                       CT2 7PP
phone1                                  01835-703597
phone2                                  01944-369967
email                        atomkiewicz@hotmail.com
web             http://www.alandrosenburgcpapc.co.uk
in                                               9:3
out                                              NaN
Name: 0, dtype: object

In [3]:
print(df.iloc[0]) # retuns the first rowprint(df.iloc[-1]) # retuns the last row

id                                                      NaN
first_name                                               Mi
last_name                                            Richan
company_name                 Nelson Wright Haworth Golf Crs
address                                     6 Norwood Grove
city                                      Tanworth-in-Arden
county                                         Warwickshire
postal                                              B94 5RZ
phone1                                         01451-785624
phone2                                         01202-738406
email                                        mi@hotmail.com
web             http://www.nelsonwrighthaworthgolfcrs.co.uk
in                                                     9:36
out                                                     NaN
Name: 499, dtype: object

In [4]:
print(df.iloc[15:25]) # select range of rows say 15:25

      id first_name  last_name                company_name  \
15  16.0    Michell  Throssell         Weiss Spirt & Guyer
16  17.0      Edgar      Kanne       Crowan, Kenneth W Esq
17  18.0     Dewitt      Julio        Rittenhouse Motor Co
18  19.0   Charisse   Spinello        Modern Plastics Corp
19  20.0        Mee   Lapinski    Galloway Electric Co Inc
20  21.0      Peter  Gutierres  Niagara Custombuilt Mfg Co
21  22.0    Octavio  Salvadore        Practical Periphrals
22  23.0     Martha    Teplica      Curtin, Patricia M Esq
23  24.0    Tamesha     Veigel         Wilhelm, James E Jr
24  25.0       Tess      Sitra                 Smart Signs

               address                            city            county  \
15          89 Noon St                       Carbrooke           Norfolk
16       99 Guthrie St                      New Milton         Hampshire
17       7 Richmond St                         Parkham             Devon
18    9165 Primrose St                    Darnall Ward  Yorkshire, South
19       9 Pengwern St                         Marldon             Devon
20     4410 Tarlton St             Prestatyn Community      Denbighshire
21      6949 Bourne St  Lye and Stourbridge North Ward     West Midlands
22    148 Rembrandt St                      Warlingham            Surrey
23  2200 Nelson St #58                         Newport     Isle of Wight
24       61 Rossett St                      Chichester       West Sussex

      postal        phone1        phone2                             email  \
15  IP25 6JQ  01967-580851  01672-496478        mthrossell@throssell.co.uk
16  BH25 5DF  01326-532337  01666-638176             edgar.kanne@yahoo.com
17  EX39 5DJ  01253-528327  01241-964675          dewitt.julio@hotmail.com
18    S4 7WN  01719-831436  01207-428520  charisse_spinello@spinello.co.uk
19   TQ3 1SA  01578-287816  01939-815208            mee.lapinski@yahoo.com
20  LL19 9EG  01842-767201  01859-648598         peter_gutierres@yahoo.com
21   DY5 2QP  01552-709248  01743-139456       octavio.salvadore@yahoo.com
22   CR6 9SW  01677-684257  01583-287367            mteplica@teplica.co.uk
23  PO30 5AL  01217-342071  01280-786847              tveigel@veigel.co.uk
24  PO19 1RH  01473-229124  01848-116775            tess_sitra@hotmail.com

                                         web    in  out
15          http://www.weissspirtguyer.co.uk  8:49  NaN
16        http://www.crowankennethwesq.co.uk  9:22  NaN
17       http://www.rittenhousemotorco.co.uk  9:48  NaN
18       http://www.modernplasticscorp.co.uk  8:58  NaN
19    http://www.gallowayelectriccoinc.co.uk  8:30  NaN
20  http://www.niagaracustombuiltmfgco.co.uk   8:5  NaN
21      http://www.practicalperiphrals.co.uk  8:44  NaN
22       http://www.curtinpatriciamesq.co.uk  9:34  NaN
23          http://www.wilhelmjamesejr.co.uk  8:10  NaN
24               http://www.smartsigns.co.uk   8:8  NaN

In [5]:
print(df.iloc[[13,28,31,47,64,90]]) # rows with specific/selective index

      id first_name last_name                   company_name  \
13  14.0     Niesha     Bruch         Rowley/hansell Petetin
28  29.0  Augustine  Growcock              Lynema, Cliff Cpa
31  32.0     German    Zelaya  Jackson & Heit Machine Co Inc
47  48.0      Luisa  Devereux                  Cash 4 Checks
64  65.0     Louann  Smethers               Lba Savings Bank
90  91.0       Mira  Alpheaus            East County Process

                  address                            city  \
13           24 Bolton St  Broxburn, Uphall and Winchburg
28  114 Falkland St #8845                        Brimpton
31         7 Shenstone St                   Longhill Ward
47       3 North View #35  Burmantofts and Richmond Hill
64       3055 Creswick St     Newbold and Brownsover Ward
90      51 St Anne St #12             Stratfield Mortimer

                            county    postal        phone1        phone2  \
13                    West Lothian  EH52 5TL  01874-856950  01342-793603
28                       Berkshire   RG7 4RF  01541-802635  01926-108010
31  Yorkshire, East (North Humbers   HU8 9PZ  01400-269033  01366-210656
47                  West Yorkshire   LS9 7JH  01607-269930  01334-807355
64                    Warwickshire  CV21 1LN  01670-234959  01488-872531
90                       Berkshire   RG7 3RA  01241-273991  01381-836777

                                email  \
13             niesha.bruch@yahoo.com
28  augustine.growcock@growcock.co.uk
31                 german@hotmail.com
47                ldevereux@gmail.com
64                   louann@gmail.com
90            mira.alpheaus@yahoo.com

                                         web    in  out
13     http://www.rowleyhansellpetetin.co.uk  9:37  NaN
28           http://www.lynemacliffcpa.co.uk  8:43  NaN
31  http://www.jacksonheitmachinecoinc.co.uk  9:35  NaN
47               http://www.cashchecks.co.uk  8:34  NaN
64           http://www.lbasavingsbank.co.uk  8:14  NaN
90        http://www.eastcountyprocess.co.uk  8:27  NaN

In [6]:
print(df.iloc[:,1]) # select only second column

0        Aleshia
1           Evan
2         France
3        Ulysses
4         Tyisha
         ...
495        Avery
496         Reid
497    Charlette
498    Celestina
499           Mi
Name: first_name, Length: 500, dtype: object

In [7]:
print(df.iloc[:,1:4]) # select range of columns

    first_name   last_name                    company_name
0      Aleshia  Tomkiewicz         Alan D Rosenburg Cpa Pc
1         Evan   Zigomalas              Cap Gemini America
2       France     Andrade             Elliott, John W Esq
3      Ulysses   Mcwalters                  Mcmahan, Ben L
4       Tyisha      Veness                  Champagne Room
..         ...         ...                             ...
495      Avery        Veit      Plaza Gourmet Delicatessen
496       Reid     Euresti            Fitzgerald, Edward J
497  Charlette    Brenning              Furey & Associates
498  Celestina       Keeny        Bfg Federal Credit Union
499         Mi      Richan  Nelson Wright Haworth Golf Crs

[500 rows x 3 columns]

In [8]:
print(df.iloc[:,[3,5,8]]) # select only second column

                       company_name                            city  \
0           Alan D Rosenburg Cpa Pc               St. Stephens Ward
1                Cap Gemini America                      Abbey Ward
2               Elliott, John W Esq  East Southbourne and Tuckton W
3                    Mcmahan, Ben L              Hawerby cum Beesby
4                    Champagne Room      Greets Green and Lyng Ward
..                              ...                             ...
495      Plaza Gourmet Delicatessen  Knightsbridge and Belgravia Wa
496            Fitzgerald, Edward J        Inverness Ness-Side Ward
497              Furey & Associates                Darton West Ward
498        Bfg Federal Credit Union                Consett North ED
499  Nelson Wright Haworth Golf Crs               Tanworth-in-Arden

           phone1
0    01835-703597
1    01937-864715
2    01347-368222
3    01912-771311
4    01547-429341
..            ...
495  01748-625058
496  01916-963261
497  01888-152110
498  01877-379681
499  01451-785624

[500 rows x 3 columns]

In [9]:
print(df.loc[df['first_name']=='France']) # select rows where first_name equals 'France'

    id first_name last_name         company_name       address  \
2  3.0     France   Andrade  Elliott, John W Esq  8 Moor Place

                             city       county   postal        phone1  \
2  East Southbourne and Tuckton W  Bournemouth  BH6 3BE  01347-368222

         phone2                       email                               web  \
2  01935-821636  france.andrade@hotmail.com  http://www.elliottjohnwesq.co.uk

     in  out
2  9:46  NaN

In [11]:
print(df.loc[df['email'].str.endswith('gmail.com')]) # select rows where email ends with 'gmail.com'

       id   first_name  last_name                  company_name  \
1     2.0         Evan  Zigomalas            Cap Gemini America
11   12.0  Charlesetta        Erm              Cain, John M Esq
12   13.0     Corrinne      Jaret             Sound Vision Corp
29   30.0        Karma     Quarto               J C S Machinery
32   33.0        Milly    Savidge     Bridgeway Plan For Health
..    ...          ...        ...                           ...
472   NaN          Mel   Picciuto                Avante Limited
480   NaN      Tijuana   Machalek        Schwartz, Thomas E Esq
483   NaN      Derrick    Dolloff       Proto Tek Manufacturing
494   NaN       Alesia      Katie  Nelsons Trmt & Pest Cntrl Co
498   NaN    Celestina      Keeny      Bfg Federal Credit Union

                    address                  city                  county  \
1               5 Binney St            Abbey Ward         Buckinghamshire
11              5 Hygeia St  Loundsley Green Ward              Derbyshire
12           2150 Morley St              Dee Ward   Dumfries and Galloway
29             1 Birkett St        Shard End Ward           West Midlands
32    129 Alexander Pope St          Franche Ward  Hereford and Worcester
..                      ...                   ...                     ...
472          8598 Rumney Rd          Hylands Ward                   Essex
480  1149 Highfield Rd #996    Fareham South Ward               Hampshire
483         236 Blantyre Rd          Everton Ward              Merseyside
494         4 Covent Garden        Farnworth Ward      Greater Manchester
498             9 Milton St      Consett North ED           County Durham

       postal        phone1        phone2                       email  \
1    HP11 2AX  01937-864715  01714-737668    evan.zigomalas@gmail.com
11    S40 4LY  01276-816806  01517-624517   charlesetta_erm@gmail.com
12    DG8 7DE  01625-932209  01642-322954    corrinne_jaret@gmail.com
29    B33 0NH  01857-864722  01307-667811           kquarto@gmail.com
32   DY11 9BW  01702-725589  01421-132652             milly@gmail.com
..        ...           ...           ...                         ...
472  RM11 1QL  01885-270480  01268-443299      mel.picciuto@gmail.com
480  PO14 9JJ  01242-532395  01336-686264  tijuana.machalek@gmail.com
483    L6 2EN  01982-734773  01619-554437   derrick_dolloff@gmail.com
494   BL4 7AF  01333-436799  01240-614527      alesia_katie@gmail.com
498   DH8 5LP  01877-379681  01600-463475   celestina_keeny@gmail.com

                                         web    in  out
1          http://www.capgeminiamerica.co.uk  9:13  NaN
11             http://www.cainjohnmesq.co.uk  8:50  NaN
12          http://www.soundvisioncorp.co.uk  9:55  NaN
29             http://www.jcsmachinery.co.uk  8:49  NaN
32   http://www.bridgewayplanforhealth.co.uk  9:24  NaN
..                                       ...   ...  ...
472           http://www.avantelimited.co.uk  8:39  NaN
480      http://www.schwartzthomaseesq.co.uk  8:59  NaN
483   http://www.prototekmanufacturing.co.uk   8:9  NaN
494  http://www.nelsonstrmtpestcntrlco.co.uk   9:4  NaN
498   http://www.bfgfederalcreditunion.co.uk  9:21  NaN

[130 rows x 14 columns]

In [12]:
print(df.loc[df['email'].str.endswith('gmail.com'),['first_name','last_name','email']]) # select rows where email ends with 'gmail.com' and print only first_name, last_name and email

      first_name  last_name                       email
1           Evan  Zigomalas    evan.zigomalas@gmail.com
11   Charlesetta        Erm   charlesetta_erm@gmail.com
12      Corrinne      Jaret    corrinne_jaret@gmail.com
29         Karma     Quarto           kquarto@gmail.com
32         Milly    Savidge             milly@gmail.com
..           ...        ...                         ...
472          Mel   Picciuto      mel.picciuto@gmail.com
480      Tijuana   Machalek  tijuana.machalek@gmail.com
483      Derrick    Dolloff   derrick_dolloff@gmail.com
494       Alesia      Katie      alesia_katie@gmail.com
498    Celestina      Keeny   celestina_keeny@gmail.com

[130 rows x 3 columns]

In [13]:
# update a column using a condition
print(df.loc[df['first_name']=='France'])
df.loc[df['first_name']=='France','last_name'] = 'Andrew'

    id first_name last_name         company_name       address  \
2  3.0     France   Andrade  Elliott, John W Esq  8 Moor Place

                             city       county   postal        phone1  \
2  East Southbourne and Tuckton W  Bournemouth  BH6 3BE  01347-368222

         phone2                       email                               web  \
2  01935-821636  france.andrade@hotmail.com  http://www.elliottjohnwesq.co.uk

     in  out
2  9:46  NaN