In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg
spark = SparkSession.builder.appName("sample").getOrCreate()
simpleData = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
  ]
schema = ["employee_name", "department", "salary"]
df = spark.createDataFrame(data=simpleData, schema = schema)
#df.printSchema()
df.show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

In [5]:
#print(df.select(avg("salary")).collect()[0][0])

print(df.select(avg("salary")).collect())
print(df.select(avg("salary")).collect()[0][0])

[Row(avg(salary)=3400.0)]
3400.0

In [6]:
df.groupby("department").sum("salary").show()

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|     Sales|      18800|
|   Finance|      10200|
| Marketing|       5000|
+----------+-----------+

In [7]:
df1 = spark.createDataFrame(data=df.groupby("department").sum("salary").collect(),schema=["department","total"])
df1.show()

+----------+-----+
|department|total|
+----------+-----+
|     Sales|18800|
|   Finance|10200|
| Marketing| 5000|
+----------+-----+

In [8]:
g = df.groupby("department").sum("salary")
#saving results of aggregate function csv file
g.write.csv('results')

In [ ]:
df1.write.option("header",True).csv("testcsv")