In [9]:
# merging dataframes
# merge - takes 2 dataframe and 'on' optionally 'how' as arguments

import pandas as pd

df1 = pd.read_excel('names.xlsx',sheet_name='Sheet1')

print(df1)

df2 = pd.read_excel('names.xlsx',sheet_name='Sheet2')

print(df2)

    name  age department
0    pat   21       CHEM
1    joe   20        ECE
2    tom   21        CSE
3    bob   20        EEE
4  alice   21         IT
  department1    department2 department3
0        CHEM       Chemical        CHEM
1         ECE  Communication         ECE
2         EEE     Electrical         EEE
3          IT    Information          IT
4        MECH     Mechanical        MECH

In [10]:
#df2['department'] = df2['department1']

#print(df2)
df3 = pd.merge(df1,df2,left_on=['department','department'],right_on=['department1','department3'])

print(df3)

    name  age department department1    department2 department3
0    pat   21       CHEM        CHEM       Chemical        CHEM
1    joe   20        ECE         ECE  Communication         ECE
2    bob   20        EEE         EEE     Electrical         EEE
3  alice   21         IT          IT    Information          IT

In [6]:
# equi join
df3 = pd.merge(df1,df2,on='department')

print(df3)

    name  age department departmentname
0    pat   21       CHEM       Chemical
1    joe   20        ECE  Communication
2    bob   20        EEE     Electrical
3  alice   21         IT    Information

In [7]:
# left join - take all rows from df1 and match it with df2
df3 = pd.merge(df1,df2,on='department', how='left')

print(df3)

    name  age department departmentname
0    pat   21       CHEM       Chemical
1    joe   20        ECE  Communication
2    tom   21        CSE            NaN
3    bob   20        EEE     Electrical
4  alice   21         IT    Information

In [8]:
# right join - take all rows from df2 and match it with df1
df3 = pd.merge(df1,df2,on='department', how='right')

print(df3)

    name   age department departmentname
0    pat  21.0       CHEM       Chemical
1    joe  20.0        ECE  Communication
2    bob  20.0        EEE     Electrical
3  alice  21.0         IT    Information
4    NaN   NaN       MECH     Mechanical

In [10]:
# outer join - take all rows from df1 match it with df2 and vice versa
df3 = pd.merge(df1,df2,on='department', how='outer')

print(df3)

    name   age department departmentname
0    pat  21.0       CHEM       Chemical
1    joe  20.0        ECE  Communication
2    tom  21.0        CSE            NaN
3    bob  20.0        EEE     Electrical
4  alice  21.0         IT    Information
5    NaN   NaN       MECH     Mechanical