In [2]:
# aggregation functions like sum, average, max, min etc

import pandas as pd
import dateutil as du

df = pd.read_csv('phone_data.csv')

print(df.head()) # return first 5 rows

   index            date  duration  item    month   network network_type
0      0  15/10/14 06:58    34.429  data  2014-11      data         data
1      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4      4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile

In [3]:
s1 = '15/10/14 06:58'

dt = du.parser.parse(s1)

print(dt)

2014-10-15 06:58:00

In [4]:
# convert the date column from string to date time object

df['date'] = df['date'].apply(lambda x: du.parser.parse(str(x))) # each value from date column is converted to date time object

print(df.head())

   index                date  duration  item    month   network network_type
0      0 2014-10-15 06:58:00    34.429  data  2014-11      data         data
1      1 2014-10-15 06:58:00    13.000  call  2014-11  Vodafone       mobile
2      2 2014-10-15 14:46:00    23.000  call  2014-11    Meteor       mobile
3      3 2014-10-15 14:48:00     4.000  call  2014-11     Tesco       mobile
4      4 2014-10-15 17:27:00     4.000  call  2014-11     Tesco       mobile

In [5]:
# find the sum of duration where ever item is equal to 'call'

print(df.loc[df['item']=='call','duration'].sum())

92321.0

In [6]:
# find the sum of duration for all categories viz 'call','data','sms' by using groupby

print(df.groupby(['item'])['duration'].aggregate(sum))

item
call    92321.00
data     5164.35
sms       292.00
Name: duration, dtype: float64

In [9]:
print(df.loc[(df['item']=='call') | (df['item']=='data')].groupby(['item'])['duration'].aggregate(sum))

item
call    92321.00
data     5164.35
Name: duration, dtype: float64

In [10]:
# get some statistical info on column 'duration'

print(df['duration'].describe())

count      830.000000
mean       117.804036
std        444.129560
min          1.000000
25%          1.000000
50%         24.500000
75%         55.000000
max      10528.000000
Name: duration, dtype: float64

In [12]:
# find the sum and average of 'duration' for every month (i.e., groupby month)
import numpy as np
df.groupby(['month']).aggregate({'duration': [sum,np.mean],'network_type': len})

          duration             network_type
               sum        mean          len
month
2014-11  26639.441  115.823657          230
2014-12  14641.870   93.260318          157
2015-01  18223.299   88.894141          205
2015-02  15522.299  113.301453          137
2015-03  22750.441  225.251891          101